#### [ 문제1 ] 양의 정수 n을 입력 받아서 아래 그림과 같은 직각삼각형을       출력하는 프로그램을 작성하시오.
[ 조건 ]
 1. 양의 정수 n : 키보드 입력으로 값을 받을 것.
 2. 반복문은 while을 사용할 것
 3. ★(\u2605)을 이용해서 찍을 것.

In [1]:
# 답안1
n = int(input('양의 정수 입력 : '))

i=0

while i < n :
    k= 0
    while k < n-i :
        print('  ', end = '')
        k += 1
    
    
    k= 0
    while k < i+1 :
        print('\u2605', end = '')
        k += 1
            
    
    print()
    i += 1

양의 정수 입력 : 8
                ★
              ★★
            ★★★
          ★★★★
        ★★★★★
      ★★★★★★
    ★★★★★★★
  ★★★★★★★★

In [6]:
# 답안2
n = int(input('양의 정수 입력 : '))

i=1
k= n-1
while i <= n :
    print('  '*k, '\u2605'*i)
    i+=1
    k -= 1

양의 정수 입력 : 5
         ★
       ★★
     ★★★
   ★★★★
 ★★★★★

In [1]:
# 답안3
n = int(input('양의 정수 입력 : '))

i=1
while i < n+1 :
    print('  '*(n-i)+'\u2605'*(i))
    i += 1

양의 정수 입력 : 5
        ★
      ★★
    ★★★
  ★★★★
★★★★★

#### [ 문제2 ] 1~9사이의 정수 n을 입력 받아서 아래와 같은 곱하기 결과를 출력하시오.
[ 조건 ]
1. 간격은 조건이 없으나 한줄에 나와야 함.

In [1]:
n = int(input('1~9사이의 정수 :'))

for i in range(9, 0, -1):
    print('{}X{}={}'.format(i, n, i*n), end='  ')

1~9사이의 정수 :6
9X6=54  8X6=48  7X6=42  6X6=36  5X6=30  4X6=24  3X6=18  2X6=12  1X6=6

#### [ 문제3 ]    
ICT고등학교에서는 새학기를 맞이하여 담임배정이 이루어졌습니다. teacher 리스트에서 1반~4반까지 4명의 선생님을 무작위로 선정하시오.

[ 조건 ]
1. teacther = ['김남준', '아이유', '손흥민', '김연경', '김미현', '김석진']
2. [출력예시]를 참조하여 무작위로 담임선생님을 선정 할 것

In [6]:
import random
teacther = ['김남준', '아이유', '손흥민', '김연경','김미현', '김석진']
teacther2 = random.sample(teacther, k = 4)

for i in range(1, 5):
    print('{}반 : {}'.format(i, teacther2[i-1]))

1반 : 손흥민
2반 : 김남준
3반 : 김석진
4반 : 아이유

#### [ 문제4 ] 파일 입출력   
korean_national1.txt ~ korean_national4.txt 파일에는 애국가 1절~ 4절의 가사가 각각 있습니다. 이 파일들을 읽어 out.txt 파일에 다음과 같이 저장하는 프로그램을 작성하시요.

[ 조건 ]
1. 파일의 위치는 상관없으나 상대경로로 지정 할 것.
2. 모듈 import 없이 python 내장함수, 명령어를 이용하여 구현 할 것.

In [1]:
song = ''
with open('test/out.txt','w', encoding='utf8') as outfile:
    outfile.write('')
for i in range(1,5) :
    inFname = 'test/korean_national{}.txt'.format(i)
    with open(inFname,'r', encoding='utf8') as infile:
        song = infile.read()
    with open('test/out.txt','a', encoding='utf8') as outfile:
        outfile.write(inFname+'\n')
        outfile.write('-'*40+'\n')
        outfile.write(song+'\n')
#print(song)

#### [ 문제5 ] 커피
- 갓 볶은 원두로 항상 대기 손님이 있는 맛있는 커피전문점이 있습니다. 제조시간이 많이 걸려서 하루 10잔만 판매하는 '오늘의 커피'는 대기하는 동안 자동 주문 시스템을 통해 주문 가능합니다. 아래 조건에 맞는 시스템을 구축하시오.

[ 조건 ]
 1. 커피 주문은 키보드 입력으로 받을 것.
 2. 대기 손님이 주문할 수 있는 총 오늘의 커피는 10잔으로 재료 소진시
    
    1) 재고가 0이면(10잔 모든 주문이 된 경우)
      : ‘오늘의 커피가 매진되었습니다.’ 메시지 출력후 프로그램 종료.
    
    2) 재고수량보다 많은 량이 주문되면 : '재료가 부족합니다' 메시지 출력 후 프로그램 종료.
 3. 주문 수량에 1보다 작거나 숫자가 아닌 입력값이 들어올때는 ValueError로 처리(ValueError 메시지 : '잘못된 값을 입력하였습니다.')
 4. 커피 유니코드 (\u2615)로 화면 출력(출력예시 참조)

In [1]:
# 답안1
coffee = 10
waiting = 1

while True :
    try :      
        
        print('[남은 커피:{}]'.format(coffee))       
        order = int(input('오늘의 커피 몇 잔 주문하시겠습니까?'))
        
        if order > coffee:
            print('재료가 부족합니다')
            break
        elif order < 1 :
            raise ValueError
        else :
            print('[대기번호{}] 오늘의 커피 '.format(waiting), end='')
            for i in range(order) : print('\u2615',end='')
            print(' 주문이 완료되었습니다.')
            waiting +=1
            coffee -= order
            
        if coffee == 0 : print('오늘의 커피가 매진되었습니다.'); break
    except ValueError :
        print('잘못된 값이 입력되었습니다')

[남은 커피:10]
오늘의 커피 몇 잔 주문하시겠습니까?5
[대기번호1] 오늘의 커피 ☕☕☕☕☕ 주문이 완료되었습니다.
[남은 커피:5]
오늘의 커피 몇 잔 주문하시겠습니까?3
[대기번호2] 오늘의 커피 ☕☕☕ 주문이 완료되었습니다.
[남은 커피:2]
오늘의 커피 몇 잔 주문하시겠습니까?-4
잘못된 값이 입력되었습니다
[남은 커피:2]
오늘의 커피 몇 잔 주문하시겠습니까?2
[대기번호3] 오늘의 커피 ☕☕ 주문이 완료되었습니다.
오늘의 커피가 매진되었습니다.

In [2]:
# 답안2
class SoldOutError(Exception) : 
    pass

coffee = 10
waiting = 1

while True :
    try:               
        print('[남은 커피:{}]'.format(coffee))
        order = int(input('오늘의 커피 몇 잔 주문하시겠습니까?'))
        
        if order<1 : 
            raise ValueError
        elif coffee < order :
            print('재료가 부족합니다')
            break
        else:
            print('[대기번호{}] 오늘의 커피'.format(waiting),'\u2615'*order,'주문이 완료되었습니다.')
            waiting += 1
            coffee -= order
        
        if coffee ==0 : 
            raise SoldOutError

    except ValueError :
        print('잘못된 값이 입력되었습니다.')
    
    except SoldOutError :
        print('오늘의 커피가 매진되었습니다.')
        break

[남은 커피:10]
오늘의 커피 몇 잔 주문하시겠습니까?19
재료가 부족합니다

#### [문제6] 아이돌 평판지수(korean-idol.csv) 데이터를 가지고 아래의 분석결과를 작성하시오.
[ 조건 ]
 1. 파일의 위치는 상관없으나 상대경로로 지정 할 것.
 2. pandas module을 import 해서 작성할 것.

- 6-1) 그룹별로 키와, 브랜드 평판지수의 합계를 구하시오.(10점)
- 6-2) 그룹별(row) 혈액형(column)에 따른 브랜드평판지수의 평균값을 pivot_table로 구성하시오. (10점)

In [6]:
import pandas as pd
df = pd.read_csv('test/korean-idol.csv')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0  AB   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [7]:
# 6-1)
df.groupby('그룹').sum()

           키   브랜드평판지수
그룹
뉴이스트   533.3  11565583
마마무    162.1   7650928
방탄소년단  882.8  31300846
빅뱅     177.0   9916947
소녀시대     0.0   3918661
아스트로   183.0   3506027
아이들      0.0   4668615
핫샷     167.1   4036489

In [8]:
#6-2)
pd.pivot_table(df, index='그룹', columns='혈액형', values='브랜드평판지수')

혈액형            A         AB          B          O
그룹
뉴이스트         NaN  3287895.5        NaN  4989792.0
마마무    7650928.0        NaN        NaN        NaN
방탄소년단  7865797.5  8073501.0        NaN  3747875.0
빅뱅     9916947.0        NaN        NaN        NaN
소녀시대   3918661.0        NaN        NaN        NaN
아스트로         NaN        NaN  3506027.0        NaN
아이들          NaN        NaN  4668615.0        NaN
핫샷     4036489.0        NaN        NaN        NaN